@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GowunDodum";
  src: url("/src/assets/fonts/GowunDodum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-gowun;
  }
}

html {
  scroll-behavior: smooth;
}

/* ===== Scrollbar Global Style (Theme Matching) ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(220, 200, 200); /* border color */
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 35, 35); /* primary */
  border-radius: 10px;
  border: 2px solid rgb(220, 200, 200);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 60, 60); /* primary-light */
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(177, 35, 35) rgb(220, 200, 200);
}

/*  about */
.skill-badge {
  @apply px-3 py-1 bg-primary/10 text-primary rounded-full text-xs font-medium;
}